<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue"/>
      <!-- и на кнопке добавить цель, из метода, чтобы нажимая на кнопку выполнялся метод (@click="addGoal): -->
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <!-- при помощи  v-if="goals.length > 0" проверяем больше 0 длинна цели или нет, т.к. если больше, то список будет видно-->
      <ul v-else>
      <!-- или можно было прописать просто v-if="goals.length > 0", результат был бы тем же -->
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
          <!-- :key="" - ключевой атрибут, очень важен при удалении.  -->
          <p>{{goal}} - {{index}}</p>
          <input type="text" @click.stop>
        </li>
        <!-- при помощи @click="removeGoal(index) мы можем удалять элементы если кникнуть по ним -->
        <!-- здесь перебираем массив, при этом каждая цель прописывается ниже другой не заменяя, а продолжая -->
        <!-- при этом данные просто добавляются, списки не трогаются, и не перезаписываются , тем самым мнижая загрузку и увеличивая производительности -->
        <ul>
          <!-- но можно не только перебирать массивы, но и объекты (да реже, чем массивы, то все равно) -->
          <li v-for="(value, key, index) in {name: 'Ian', age: 36}">{{key}}: {{value}} - {{index}}</li>
        </ul>
        <ul>
          <!-- можно перебирать диапозон чисел (для примера) -->
          <li v-for="num in 10">{{num}}</li>
        </ul>
      </ul>
    </section>
  </body>
</html>
